<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DogspotEU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EnabledspotEU.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MomspotEU.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VeganspotEU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A91C58871B2E12F4009179E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91C58991B2E1D7F009179E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A948EE451B25D620007B108F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A948EE5E1B25D621007B108F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A97DF5701B76A9CC004D0906</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A99124521B2F1FF400BF9259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A99124641B2F20C900BF9259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D25A181B2B7F9C00AF8DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D25A301B2B7F9C00AF8DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D25A411B2D74CD00AF8DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D25A531B2D901E00AF8DAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
